body {
   background-color: #ccc;
}
.error {
  font-size: 0.8em;
  color: red;
  font-weight: bold;
  display: block;
}
p.error {
  font-size: 0.8em;
  color: red;
  font-weight: bold;
}
#messageOk {
	color: green;
	text-align: center;
	font-size: 20px;
	padding-left: 5px;
}
#messageError {
	color: red;
	text-align: center;
	font-size: 20px;
	padding-left: 5px;
}
#exception {
	color: red;
	text-align: center;
	font-size: 20px;
	padding-left: 5px;
}
div#h2 {
   text-align: center;
   font-size: 23px;
   font-family: Vijaya;
   border-top: 15px solid gray;
   border-bottom: 15px solid gray;
   border-left: 2px solid gray;
   border-right: 2px solid gray;
   border: 1px solid gray;
   border-radius: 3px;
   padding: 1px;
   background-color: #eee;
}
.header2 {
   text-align: center;
   font-size: 23px;
   font-family: Vijaya;
   border-top: 15px solid gray;
   border-bottom: 15px solid gray;
   border-left: 2px solid gray;
   border-right: 2px solid gray;
   border: 1px solid gray;
   border-radius: 3px;
   padding: 1px;
   margin-top: 5px;
   background-color: #ffffff;
}
.header1 {
	
   text-align: center;
   font-size: 23px;
   font-family: Vijaya;
   border-top: 15px solid gray;
   border-bottom: 15px solid gray;
   border-left: 2px solid gray;
   border-right: 2px solid gray;
   border: 1px solid gray;
   border-radius: 3px;
   padding: 1px;
   margin-top: 5px;
   background-color: #eee;
}
#header {
   text-align: center;
   font-size: 23px;
   font-family: Vijaya;
   border-top: 15px solid gray;
   border-bottom: 15px solid gray;
   border-left: 2px solid gray;
   border-right: 2px solid gray;
   border: 1px solid gray;
   border-radius: 3px;
   padding: 1px;
   background-color: #eee;
}
.header {
   text-align: center;
   font-size: 23px;
   font-family: Vijaya;
   border: 1px solid gray;
   border-radius: 3px;
   padding: 1px;
   background-color: #eee;
}
.container {
   border: 1px solid gray;
   border-radius: 3px;
   padding: 1px;
   background-color: #eee;
   padding-bottom: 5px;
   padding-top: 5px;
   margin-bottom: 50px;
}
.container1 {
   text-align: center;
   font-size: 15px;
   border: 1px solid gray;
   border-radius: 3px;
   padding: 2px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 50px;
   margin-bottom: 10px;
   background-color: #eee;
}
.container2 {
   border: 1px solid gray;
   border-radius: 5px;
   width: 800px;
   margin: 0 auto;
   background-color: #eee;
   border-top: 15px solid gray;
   border-bottom: 15px solid gray;
   border-left: 2px solid gray;
   border-right: 2px solid gray;
}
.container3 {
   border: 1px solid gray;
   border-radius: 3px;
   height: 100px;
   width: 600px;
   background-color: #eee;
   padding-top: 5px;
   margin-top: 20px;
}
div#text {
	text-align: center;
	font-size: 20px;
	padding-left: 5px;
}
div#log {
   margin-top: 5px;
   border: 1px solid gray;
   border-radius: 3px;
   background-color: #eee;
}
.row input[type="text"] {
  text-align: center;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.row input[type="email"] {
  text-align: center;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#reg {
	text-align: center;
	font-size: 30px;
	font-family: Vijaya;
}
.well {
   text-align: center;
   font-size: 25px;
   font-family: Vijaya;
   border: 1px solid gray;
   border-radius: 3px;
   background-color: #eee;
}
.row input[type="password"] {
  text-align: center;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}